@mixin activeItem {
  color: #fff;
  background: #fea181;
  border-radius: 0px 100px 100px 0px;
  box-shadow: 0px 13px 25px 1px #fea1817d;
  z-index: 1;
  .sidebarMenuIcon {
    color: #fff;
    visibility: visible;
  }
  .icon-arrow-right {
    color: #fff;
    visibility: visible;
  }
  .MuiListItemText-root {
    color: #fff;
  }
}
.menuList {
  // font-size: 20px;
  cursor: pointer;
  :global {
    .menuTextBolder > .MuiTypography-root {
      font-weight: bold;
    }
    .MuiTypography-root {
      font-size: 14px;
    }
    .sidebarMenuIcon {
      font-size: 30px;
      visibility: hidden;
      margin-right: 16px;
    }
    .alwayShow {
      visibility: visible;
    }
    .MuiListItemText-primary {
      letter-spacing: 2px;
    }
    .icon-arrow-right {
      visibility: hidden;
      margin-right: 10px;
      font-size: 24px;
    }
  }
  &:hover :global {
    @include activeItem;
    background: #ffbea9;
  }
}
.activeMenuItem {
  :global {
    @include activeItem;
  }
}
